body {
    padding: 0;
}

.header {
  position: relative;
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  font-size: 25px;
  text-indent: 0%;
  padding: 0 0 100px 0;
  margin-bottom: 0%;
}

.container{
  display: inline-block;
  margin-left: 50%;
}

h1{
  font-family: 'Libre Bodoni', serif;
  font-size: 48px;
}

li {
font-family: 'Libre Bodoni', serif;
color: rgb(0, 0, 0);
font-size: 14px;
list-style-type: none;
}

ul {
  position: relative;
  top: 60px;
  display: inline-block;
  margin-top: 0%;
  padding: 0px;
  width: 30%;
}

list{
  text-align: center;
  
}

.img-box-1{
float:left;
position: relative;
right: 0%;
width: 900px;
float: left;
}

.img-box-2{
  position: relative;
  right: 9.3%;
  width: 900px;
  float: left;
}

.img-box-3{
  position: relative;
  left: 10%;
  bottom: 953px;
  width: 900px;
  float: right;
}

#VINTAGE h2{
  position: relative;
  margin-top:10%;
  font-size: 50px;
  font-family: 'Covered By Your Grace', cursive;
  color: black;
}

img{
  position: relative;
  margin-top: 12%;
  width: 250%;
  height: 900px;
}

h2 {
 position: absolute;
 top: 80%;
 left: 20px;
 color: rgb(255, 255, 255);
 font-family: 'Covered By Your Grace', cursive;
 font-size: 40px;

}

button {
  position: absolute;
  top: 90%;
  left: 20px;
  color:rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 10px;
  width: 20%;
  background-color:rgb(0, 0, 0)
}

button:hover {
  transition: ease-in-out .10s;
  background-color: white;
  color: black;
  cursor: pointer;
}

