
@media only screen and (max-width: 900px) {
  body {
  background-color: black;
}

.header{
  position:relative;
  color: white;
  font-family: 'Anton', sans-serif;
  text-align: center;
  letter-spacing: 5px;
}

#image-1{
  position: absolute;
  display:block;
  top: 0%;
}

nav{
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Anton', sans-serif;
}

}

body {
  background-color: black;
}

.header{
  position:relative;
  color: white;
  font-family: 'Anton', sans-serif;
  text-align: center;
  letter-spacing: 5px;
}

#image-1{
  position: absolute;
  display:block;
  top: 0%;
}

.tabs{
  position: absolute;
  display:flexbox;
  inline-size: 0%;
  margin-inline-start: 0%;
  
  left:0%;
  top: 20%;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Fugaz One', cursive;
}

a{
  color:white;
  text-decoration: none;
}

